graft src
recursive-include zlib-src/zlib *.c *.h
recursive-exclude zlib-src/zlib ChangeLog configure FAQ INDEX Makefile* make_vms.com README
prune zlib-src/zlib/amiga
prune zlib-src/zlib/as400
prune zlib-src/zlib/examples
prune zlib-src/zlib/msdos
prune zlib-src/zlib/old
prune zlib-src/zlib/projects
prune zlib-src/zlib/qnx
prune zlib-src/zlib/win32
